* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.blockForOverflow {
    width: 80%;
    height: 120px;
    background-color: #bbbbbb;
    display: flex;
    padding: 20px;
    margin: 0 auto 15px;
    overflow-x: scroll;
}

.lineContent {
    width: 400px;
    background: red;
    margin: 0 10px 40px 0;
    padding: 3px 450px 3px 2px;
    float: left;
}

.blockForAbsolute {
    width: 80%;
    height: 120px;
    background-color: #bbbbbb;
    position: relative;
    margin: auto;
}

.child_1 {
    width: 25px;
    height: 25px;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
}

.child_2 {
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    right: 0;
    top: 0;
}

.child_3 {
    width: 25px;
    height: 25px;
    background: blueviolet;
    position: absolute;
    right: 0;
    bottom: 0;
}

.child_4 {
    width: 25px;
    height: 25px;
    background: green;
    position: absolute;
    left: 0;
    bottom: 0;
}

.bottomFix {
    width: 100%;
    height: 120px;
    background-color: #bbbbbb;
    bottom: 0;
    position: fixed;
}